*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
li{
  list-style: none;
  float: left;
  width:33.3%;
  height: 100vh;
  overflow: hidden;
}
img{
  display: block;
  width: 100%;
}
.box{
  width: 100vw;

  overflow: hidden;


}
ul{
  width:300%;
  
  position: relative;
  transition:all 1s;
}
